a.navbar-brand {
    font-family: 'Inter', sans-serif;
    color: #FFFFFF; 
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 68px;
}

.text-center {
    position: absolute;
    left: 81px;
    top: 335px;
    justify-content: left;
}

.text-center p {
    margin: 0px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
}


.text-center h1 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 66px;
    line-height: 50px;
}



.button-wrap .button {
    background: #0E5E6F;
    border-radius: 0px 0px 0px 50px;
    padding: 5px 20px 5px 30px;
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-style: normal;
    width: 278px;
    font-weight: 600;
    font-size: 32px;
    color: #FFFFFF;
    line-height: 68px;
    border: none;
}
div .background-home{
    max-width: 100%;
    padding: 0 0 0 0;
}
html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

