h1.additem-header {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 60px;
    color: #23828D;
}

h4.h4Tees {
    font-family: 'Inter', sans-serif;
}

h1.apparel-header {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 40px;
    letter-spacing: 2px;
    word-spacing: 3px;
    color: #23828D;
}

.add-item-Link {
    margin-left: 1598px;
    padding: 10px;
    font-family: 'Times New Roman';
    font-size: 40px;
    background-color: #256d85;
    color: white;
    border-radius: 0px 15px;
}
