@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@*<div class="background-home">
   <img class= "bg_home" src="~/lib/resources/pexels-aden-ardenrich-581339.jpg"/>
</div>*@
<div class="text-center">

    <p class="display-4">Welcome to <span style="color: #3A8891;">RazorTeezy</span></p>
    <h1>ADMIN PAGE</h1>
    <div class="button-wrap">
        <button class="button" href="Apparels/Index">YOUR ITEMS</button>
    </div>
</div>


