@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="background-home">
   <img class= "bg_home" src="~/lib/resources/bg1.jpg"/>
</div>
<div class="text-center">
    <div class= "wrapper-home">
        <p class="display-4">Welcome to <span style="color: #3A8891;">RazorTeezy</span></p>
        <h1>ADMIN PAGE</h1>
        <div class="button-wrap">
            <a class="button" asp-area="" asp-page="/Apparels/Index">Apparels</a>
        </div>
    </div>
</div>


